;建议使用双引号
[mysql]
;数据库地址
host="localhost"
;数据库端口
port="3306"
;数据库用户名
user="root"
;数据库密码
password="password"
;默认链接的数据库名
database="steris_students"
;数据库编码（推荐使用utf8mb4）
charset="utf8mb4"

[email]
;发送邮件邮箱的smtp服务器
host="smtp.exmail.qq.com"
;发送邮件邮箱的密码
passwd="passwd"
;发送邮件邮箱的地址
from_addr="XXXXXX@XXXX.edu.cn"
;发送邮件邮箱的别名（可随意）
from_addr_name="endless小龙的自考成绩查询系统"
;管理员邮箱地址（用于接收管理员的新成绩以及系统状态信息的邮件）
admin_addr="XXXXXXXXX@qq.com"

[admin]
;管理员的准考证号（用于检查新成绩是否公布）
zkzh="02492043XXXX"
;管理员的姓名（用于检查新成绩是否公布）
name="李明"
;要检查新成绩的考期（一月：1，四月：4，七月：7，十月：10；第一次手动设置后会自动按顺序循环）
exam_month="7"